<!DOCTYPE html>
<html>
<head>
  <title>My Expenditure Tracker</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<div class="wrapper">
  <body>
    <div class="nav_container"
    <nav>
      <ul>
        <div class="box1">
          <li>
            <a href="/">Home</a>
          </li>
        </div>
        <div class="box2">
          <li>
            <a href="/transactions">View All Transactions</a>
          </li>
        </div>
        <div class="box3">
          <li>
            <a href="/transactions/new">New Transaction</a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
 

  <%= yield %>

</body>
</div>
</html>