<!DOCTYPE html>
<html>
<head>
  <title>My Expenditure Tracker</title>
</head>

<body>

  <nav>
    <ul>
      <li>
      <a herf="/transactions">Transactions</a>
      </li>
    </ul>
  </nav>

  <%= yield %>

</body>
</html>