<h1>Add a Transaction</h1>

<form action="/transactions/new" method="post">
  <label>
    Select a Merchant:
    <select name="merchant_id">
    <% for merchant in @merchants do %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a Tag:
    <select name="tag_id">
    <% for tag in @tags do %>
    <option value="<%= tag.id %>"><%= tag.name %></option>
    <% end %>
    </select>
  </label>

  <label>
    Value
    <input type="number" min="0" name="value"/>
  </label>

  <input type="submit" value="Add Transaction"/>
</form>