<h1>Add a Transaction</h1>

<form action="/transactions" method="post">
  <label>
    Select a Merchant:
    <select name="merchant.name">
      <option value="Tesco">Tesco</option>
      <option value="Scottish Power">Scottish Power</option>
      <option value="Glasgow City Council">Glasgow City Council</option>
      <option value="Bank of Scotland">Bank of Scotland</option>
    </select>
  </label>

  <label>
    Select a Tag:
    <select name="tag.name">
      <option value="shopping">Shopping</option>
      <option value="electricity">Electricity</option>
      <option value="council tax">Council Tax</option>
      <option value="mortgage">Mortgage</option>
    </select>
    
  </label>

  <label>
    Value
    <input type="number" min="0" name="value">
  </label>

  <input type="submit" value="Add Transaction"
</form>