<p>Merchant name: <%= @transaction.merchant.name %></p>
<p>Category: <%= @transaction.tag.name %></p>
<p>Value: <%= @transaction.value %></p>

<form action="/transactions/<%=@transaction.id%>/delete" method="post">
  <input type="submit" value="Delete"/>
</form>